<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <a href="tel:{{phone.name_phone}}" class="button button-full button-royal button-phone">
            {{phone.name_phone}}
        </a>
        <div class="button_bottom_block">
        <button class="button button-full button-balanced" ng-click="changeStatus(phone, 'Ответили')">
           Ответили
        </button>
        <button class="button button-full button-positive" ng-click="changeStatus(phone, 'Не ответили')">
            Не ответили
        </button>
        <button class="button button-full button-assertive" ng-click="changeStatus(phone, 'Не интересует')">
            Не интересует
        </button>
        </div>
    </ion-content>
</ion-view>
